@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background: yellow;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  font-size: calc(10px + 4vmin);

  background-color: #283430;
  /*background-color: #34282c;*/

  font-family: "Permanent Marker", cursive;
}

.BodyRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.BodyRow:nth-child(even) {
  color: black;
  background-color: white;
}

.BodyRow:nth-child(odd) {
  color: white;
}

.InitialDescription {
  width: 50%;
  font-style: italic;
}

.TextHighLight {
  color: yellow;
  font-size: calc(14px + 4vmin);
}

.ProfilesContainer {
  max-height: 100%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vmin;
}

.ProfileWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 3vmin;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
}

.ProfileWrapper:not(:first-child) {
  margin-top: 3vmin;
}

.ProfileWrapper:hover .ProfilePicture {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.ProfileWrapper span {
  transition: color 0.3s;
  text-decoration: none;
  color: white;
}

.ProfileWrapper:hover span {
  color: yellow;
}

.ProfilePicture {
  display: flex;
  border-radius: 50%;
  margin-right: 3vmin;
  flex-basis: 1px;
  flex-grow: 0;
  object-fit: contain;
  max-width: 30%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  transition: filter 0.3s, transform 0.3s, box-shadow 0.3s;
  pointer-events: none;
}

.SectionTitle,
.SectionTitleInv {
  position: absolute;
  top: 5vh;
  padding-left: 2vmin;
  padding-right: 2vmin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);

  border-radius: 10px;
}

.SectionTitle {
  color: white;
  background-color: #283430;
}

.SectionTitleInv {
  color: #283430;
  background-color: white;
}

.ScrollContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4vmin;
  width: 75px;
  cursor: pointer;
  transition: transform 0.5s;
  user-select: none;
}

.ScrollContainer:hover {
  transform: scale(1.1);
}

.White {
  filter: invert(100%);
}

.ChevronDown,
.ChevronUp {
  position: absolute;
  top: 50%;
  font-size: 30px;
}

.ChevronDown {
  transform: translateY(-50%);
}

.ChevronUp {
  transform: translateY(-55%) rotate(180deg);
}

.ScrollButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MeshImage {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
}

.MeshImage:hover {
  transform: scale(1.1);
}

.MeshImage:nth-child(1) {
  left: 10vmin;
  top: 10vmin;
}

.MeshImage:nth-child(2) {
  right: 10vmin;
  bottom: 10vmin;
}
.MeshImage:nth-child(3) {
  left: 10vmin;
  bottom: 10vmin;
}
.MeshImage:nth-child(4) {
  right: 10vmin;
  top: 10vmin;
}
